.DS_Store
.idea/.idea.WebApiEmployeeCar/.idea/.name
.idea/.idea.WebApiEmployeeCar/.idea/indexLayout.xml
.idea/.idea.WebApiEmployeeCar/.idea/vcs.xml
WebApiEmployeeCar/bin/Debug/net8.0/WebApiEmployeeCar.dll
WebApiEmployeeCar/bin/Debug/net8.0/WebApiEmployeeCar.pdb
WebApiEmployeeCar/obj/Debug/net8.0/ref/WebApiEmployeeCar.dll
WebApiEmployeeCar/obj/Debug/net8.0/refint/WebApiEmployeeCar.dll
WebApiEmployeeCar/obj/Debug/net8.0/WebApiEmployeeCar.AssemblyInfo.cs
WebApiEmployeeCar/obj/Debug/net8.0/WebApiEmployeeCar.AssemblyInfoInputs.cache
WebApiEmployeeCar/obj/Debug/net8.0/WebApiEmployeeCar.assets.cache
WebApiEmployeeCar/obj/Debug/net8.0/WebApiEmployeeCar.csproj.FileListAbsolute.txt
WebApiEmployeeCar/obj/Debug/net8.0/WebApiEmployeeCar.dll
WebApiEmployeeCar/obj/Debug/net8.0/WebApiEmployeeCar.GeneratedMSBuildEditorConfig.editorconfig
WebApiEmployeeCar/obj/Debug/net8.0/WebApiEmployeeCar.genruntimeconfig.cache
WebApiEmployeeCar/obj/Debug/net8.0/WebApiEmployeeCar.pdb
WebApiEmployeeCar/obj/Debug/net8.0/WebApiEmployeeCar.sourcelink.json
WebApiEmployeeCar/obj/project.assets.json
WebApiEmployeeCar/obj/project.nuget.cache
WebApiEmployeeCar/obj/project.packagespec.json
WebApiEmployeeCar/obj/rider.project.model.nuget.info
WebApiEmployeeCar/obj/rider.project.restore.info
WebApiEmployeeCar/obj/WebApiEmployeeCar.csproj.nuget.dgspec.json
